<% layout('../layout') %>
<div class="page-content-inner">
    <h3>Welcome to your personal dashboard</h3>
    <p>This page is a resource you can go to to update your account. This page is still in progress. I am still adding more features, and am definitely open to more suggestions.</p>
    <div class="input-columns dashboardArea">
        <h4>Linking to Reddit</h4>
        <% if(redditUserName) { %>
            <div class="redditUsername">
                You're Reddit username is saved as: <span class="username"><%= redditUserName %></span>
            </div>
        <% } %>
        <div class="input-column">
            <p>Posts to /r/WonderTrade will be displayed on your WonderTrade submission page.</p>
        </div>
        <div class="input-column">
            <h4>Update</h4>
            <form id="userReddit" action="/user/updateReddit" method="post">
                <label class="left">Reddit Username:<br/> <input type="text" name="redditUsername" placeholder="Reddit Username" /></label>
                <button><i class="pokeball-submit"></i>Submit</button>
            </form>
        </div>

    </div>
    <% /* To be developed in the future  %>
    <div class="input-columns dashboardArea">
        <h4>Link /r/WonderTrade Posts</h4>
        <div class="input-column">
            <p>Lets say you sent out 30 Protean Froakie on November 25th. You both post on /r/WonderTrade <u>and</u> submit your findings here.</p>
            <p>This provides a way to link back your /r/WonderTrade post.</p>
        </div>
        <div class="input-column">
            <form action="/wondertrade/link" method="post">
                <label>Reddit Link Title: <input size="50" type="text" name="title" placeholder="Title" /></label>
                <label>Reddit Link: <input size="50" type="text" name="link" placeholder="/r/WonderTrade/_________" /></label>
                <label>
                    WonderTrade Date:
                    <select>
                        <% for(var submission in submissionDates) { %>
                            <option value="<%= submissionDates[submission].dateString %>">
                                <%= submissionDates[submission].dateString %>
                            </option>
                        <% } %>
                    </select>
                </label>
                <button><i class="pokeball-submit"></i>Submit</button>
            </form>
        </div>
    </div>
    <% */ %>
</div>

