<% layout('../layout') -%>
<h3>User Login</h3>
<form method="post" action="/login" name="loginform">
	<div class="user-auth-form">
		<div class="user-auth-fields">
	    	<label>Username: <input id="login_input_username" type="text" name="username" /></label>
	    	<label>Password: <input id="login_input_password" type="password" name="password" autocomplete="off" /></label>
	    </div>
	    <label><input type="submit"  name="login" value="Submit" class="pokeball-submit" /> </label>
	</div>
</form> 