<% layout('../layout') -%>
<h3>Register</h3>
<form method="post" action="/register" name="loginform">
	<div class="user-auth-form">
		<div class="user-auth-fields">
	    	<label>Username: <input id="login_input_username" type="text" name="username" /></label>    
	    	<label>Password: <input id="login_input_password" type="password" name="password" autocomplete="off" /></label>
	    </div>
	    <button><i class="pokeball-submit"></i>Submit</button>	    
    </div>
    <p class="clear"><b>Disclaimer 1:</b> I made this site with the belief that people will post honest information.<br/>If I find any abuses, I will remove offending accounts (and their wonder trade submissions).</p>
    <p class="clear"><b>Disclaimer 2:</b> If you lose your password, I can't retrieve it for you; it is lost in the abyss. (sorry!)</p>
</form> 