<% layout('../layout') -%>
<h3>Register</h3>
<form method="post" action="/register" name="loginform">
    <label>username: <input id="login_input_username" type="text" name="username" /></label>
    <label>Password <input id="login_input_password" type="password" name="password" autocomplete="off" /></label>
    <label>Submit <input type="submit"  name="login" value="Submit" /> </label>
</form> 