<% if(nicknames) { %>
<div class="nicknames">
    <h4>Nicknames</h4>
    <ul>
        <% for(var nickname in nicknames) { %>
            <li><%= nicknames[nickname] %></li>
        <% } %>
    </ul>
</div>
<% } %>