<table class="wondertrade-list">
    <thead>
        <tr>
            <th>Pokemon</th>
            <th>Wonder Traded</th>
        </tr>
    </thead>
    <tbody>
        <% for(var pokemon in pokemonTable) { %>
            <% if(pokemonTable[pokemon].id){ %>
                <tr>        	
                    <td><a href="/data/pokemon/<%= pokemonTable[pokemon].id %>"><%= pokemonTable[pokemon].name %></a></td>
                    <td><%= pokemonTable[pokemon].count %></td>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>