<table class="wondertrade-list">
    <thead>
        <tr>
            <th>Country</th>
            <th>Wonder Traded</th>
        </tr>
    </thead>
    <tbody>
        <% for(var region in regionsTable) { %>
        <tr>        	
            <td><a href="/data/regions/<%= regionsTable[region].id %>"><%= regionsTable[region].name %></a></td>
            <td><%= regionsTable[region].count %></td>
        </tr>
        <% } %>
    </tbody>
</table>