<table class="wondertrade-list">
    <thead>
        <tr>
            <th>Country</th>
            <th>Wonder Traded</th>
        </tr>
    </thead>
    <tbody>
        <% for(var region = countryList.length - 1, min = 0;region >= min; region--) { %>
            <% if(countryList[region][2]){ %>
                <tr>        	
                    <td><a href="/data/regions/<%= countryList[region][2] %>"><%= countryList[region][0] %></a></td>
                    <td><%= countryList[region][1] %></td>
                </tr>
            <% } %>
        <% } %>
    </tbody>
</table>