<ul class="trainers">
    <% for(var trainer in originalTrainers) { %>
    <li class="trainer">
        <h4><%= trainer%></h4>
        <ul class="trainer-wondertrades">
            <% originalTrainers[trainer].forEach(function(wonderTrade){ %>
            <li class="trainer-pokemon">
                <i class="pokemon-icon pkmn-<%= wonderTrade.pokemonId %>"></i><br/>
                <%= wonderTrade.pokemonNickname%>
            </li>
            <% }); %>
        </ul>
    </li>
    <% } %>
</ul>