<ul class="contributer-list">
	<% for(var user in userTable) { %>
		<% if(userTable[user].count > 0) {  %>
			<li class="contributer">
				<div class="name"><%= userTable[user].username %></div>
				<div class="count"><%= userTable[user].count %> wonder trades recorded</div>
			</li>
		<% } %>
	<% } %>
</ul>