<% layout('../layout') %>
<div class="page-content-inner">
    <h3>Mass Import Page</h3>
    <p>This is a restricted page. Access to it is limited due to security concerns.</p>
    <form action="/admin/massImport" method="post" enctype="multipart/form-data">
        <input type="file" name="massImportFile" />
        <input type="submit" />
    </form>
</div>