<% layout('layout') -%>
<h3>404, Page not found</h3>
<p class="center">This is embarrassing... sorry about this.  Try going back to the <a href="/">homepage</a> and trying again.</p>

<script>
	$(document).ready(function(){
		$('.page-background').addClass('espurr');
	});
</script>