<% layout('layout') %>
<h3>404, Page not found</h3>
<p class="center">This is embarrassing... sorry about this.<br/>  Try the <a href="/">homepage</a>?</p>
<p class="center">If all else fails, feel free to message me on reddit, my username is TheIronDev.  Thanks!</p>

<script>
	$(document).ready(function(){
		$('.page-background').addClass('espurr');
	});
</script>