<% layout('layout') %>
<h3><%= title %> (<%= status %>)</h3>
<p class="center">The site crashed! :o sorry about this.<br/>  Trying again in a minute might fix the problem (sorry!)</p>
<p class="center">Fortunately the crash has been logged, but feel free to message me on reddit, my username is so_lash.  Thanks!</p>

<script>
	$(document).ready(function(){
		$('.page-background').addClass('espurr');
	});
</script>