<% layout('layout') -%>
<h3>Motivation</h3>
<p>After the success of <a href="http://www.pokewondertrade.com/">PokeWonderTrade.com</a>, I decided to build a new webapp that aggregates user submitted wonder trades. </p>
<p>If you have any feedback, or would like to help out yourself, send me a message <a href="http://www.reddit.com/user/theirondeveloper/">on reddit!</a> :)</p>

<h3>Contributers</h3>
<p>These contributers have helped provide data and insight into wonder trade</p>
<% include partials/_user-table.ejs %>

<h3>Developing this App</h3>

<div class="team-member">
	<div class="avatar">
		<img src="http://www.gravatar.com/avatar/ebc665be7acc34b9f4aaa990f5607401.png?s=95">		
	</div>
	<div class="description">
		<div class="name">Tyler Stark (TheIronDeveloper)</div>
		<p>Tyler worked on the frontend portion of this site (as well as wiring a few of the node parts together.)</p>
	</div>
</div>

<ul class="teck-stack">	
	<li class="teck"><a href="http://nodejs.org/" title="NodeJs"><img src="/images/teckstack/nodejs.png" /><br/>NodeJS</a></li>
	<li class="teck"><a href="http://heroku.com/" title="Heroku"><img src="/images/teckstack/heroku.png" /><br/>Heroku</a></li>
	<li class="teck"><a href="http://highcharts.com/" title="HighCharts"><img src="/images/teckstack/Highcharts.png" /><br/>HighCharts</a></li>
	<li class="teck"><a href="http://redis.io/" title="Redis-Server"><img src="/images/teckstack/redis.png" /><br/>Redis-Server</a></li>
</ul>