<% layout('layout') -%>
<h3>Motivation</h3>
<p>After the success of <a href="http://www.pokewondertrade.com/">PokeWonderTrade.com</a>, I decided to build a new webapp that aggregates user submitted wonder trades. </p>

<h3>Contributers</h3>
<p>The plan is to make a call to the redis server and show each user and the number of contributions they have made.</p>
<ul class="contributer-list">
	<li class="contributer">
		<div class="name">Person 1</div>
		<div class="count">150 wonder trades recorded</div>
	</li>
	<li class="contributer">
		<div class="name">Person 2</div>
		<div class="count">120 wonder trades recorded</div>
	</li>
	<li class="contributer">
		<div class="name">Person 3</div>
		<div class="count">50 wonder trades recorded</div>
	</li>
</ul>

<h3>Developing this App</h3>

<div class="team-member">
	<div class="avatar">
		<img src="http://www.gravatar.com/avatar/ebc665be7acc34b9f4aaa990f5607401.png?s=120">		
	</div>
	<div class="description">
		<div class="name">Tyler Stark<br/> (TheIronDeveloper)</div>
		<p>Tyler worked on the frontend portion of this site (as well as wiring a few of the node parts together.)</p>
	</div>
</div>


<ul class="teck-stack">
	<li class="teck">Node.js</li>
	<li class="teck">Heroku</li>
	<li class="teck">HighCharts</li>
	<li class="teck">Express.js</li>
	<li class="teck">Redis</li>
</ul>