<% layout('layout') -%>
<div class="page-content-wrapper">
	<h3>Motivation</h3>
	<p>After the success of <a href="http://www.pokewondertrade.com/">PokeWonderTrade.com</a>, I decided to build a new webapp that aggregates user submitted wonder trades.</p>
	<p> If you have any feedback, or would like to help out yourself, send me a message <a href="http://www.reddit.com/user/theirondeveloper/">on reddit!</a> :)</p>

	<p>The backbone of this site are the <a href="/contributers">contributers</a>, many of which came from the <a href="http://www.reddit.com/r/WonderTrade">/r/WonderTrade</a> subreddit.<br/>Without the help if these contributers, the site would not be nearly as useful!</p>

	<h3>Developing this App</h3>

	<div class="team-member">
		<div class="avatar">
			<img src="http://www.gravatar.com/avatar/ebc665be7acc34b9f4aaa990f5607401.png?s=95">		
		</div>
		<div class="description">
			<div class="name">Tyler Stark (<a href="http://github.com/TheIronDeveloper">TheIronDeveloper</a>)</div>
			<p>Tyler built out this webapp using primarily Node.js and HighCharts.js.</p>
		</div>
	</div>

	<ul class="tech-stack">	
		<li class="tech"><a href="http://nodejs.org/" title="NodeJs"><img src="/images/techstack/nodejs.png" /><br/>NodeJS</a></li>
		<li class="tech"><a href="http://heroku.com/" title="Heroku"><img src="/images/techstack/heroku.png" /><br/>Heroku</a></li>
		<li class="tech"><a href="http://highcharts.com/" title="HighCharts"><img src="/images/techstack/Highcharts.png" /><br/>HighCharts</a></li>
		<li class="tech"><a href="http://redis.io/" title="Redis-Server"><img src="/images/techstack/redis.png" /><br/>Redis-Server</a></li>
	</ul>
	<p class="clear">I also want to credit the kick ass background to <a href="http://pldh.net/gallery/index">Teej/Tophat</a></p>
	<p>Also the <a href="http://www.reddit.com/r/WonderTrade">/r/WonderTrade</a> community deserves special recognition. They helped get this project started by contributing valuable data and gave a lotttt of helpful suggestions on how to make the site better.</p>
</div>