<% layout('layout') -%>
<h3>About This Site</h3>
<p>The project mission sure is some lorem ipsum right now.</p>
<p>Talk about some technology</p>


<h3>Contributers</h3>
<p> Highlight contributers, foreach them and show their # contributed.</p>


<h3>Team</h3>
<div class="team-member">
	<div class="avatar">
		<img src="http://www.gravatar.com/avatar/ebc665be7acc34b9f4aaa990f5607401.png?s=120">		
	</div>
	<div class="description">
		<div class="name">Tyler Stark<br/> (TheIronDeveloper)</div>
		<p>Tyler worked on the frontend portion of this site (as well as wiring a few of the node parts together.)</p>
	</div>
</div>

<div class="team-member">
	<div class="avatar">
		<img src="http://www.gravatar.com/avatar/9ee7df9c2c810a88c1e5f7c0f7818230.png?s=120">		
	</div>
</div>