<% layout('layout') -%>
<h3>About This Site</h3>
<p>The project mission sure is some lorem ipsum right now.</p>
<p>Talk about some technology</p>


<h3>Contributers</h3>
<p> Highlight contributers, foreach them and show their # contributed.</p>


<h3>Team</h3>
<div>
	<span class="name">Tyler Stark (TheIronDeveloper)</span>
</div>


<div>
	<span class="name">Michael Yao (Yaozornation)</span>
</div>