<% layout('layout') %>
<h3>Holiday Contest</h3>
<div class="center">
    <p class="update">In light of the Holiday Season and Pokebank being released soon, I'm giving away pokemon to the top contributers.<br> <a href="http://www.reddit.com/r/WonderTrade/comments/1tkxwa/wondertrade_analytics_giveaway/">Check here</a> for more details.<br/> The contest spans from December 23rd, 2013 to January 3rd, 2014.</p>
    <h3>Current Prizes Include:</h3>
    <ol style="width:300px;margin: 0 auto;text-align: center;">
        <li style="background:rgba(250,250,250,.2)">Jirachi</li>
        <li>A Palkia, Dialga, and Darkrai</li>
        <li style="background:rgba(250,250,250,.2)">Articuno, Zapdos, and Moltres</li>
    </ol>
</div>
<h3>Results</h3>
<% include partials/_user-table.ejs %>
<div class="chart-box full-chart" id="trend-chart"></div>

<script>
    $(document).ready(function(){
        <% include /partials/highcharts/_trend-chart-nonPercent.ejs %>
    });
</script>