<% layout('layout') -%>
<h3>Contributers</h3>
<p>These contributers have helped provide data and insight into this webapp. Without them, this site would be useless.</p>
<% include partials/_user-table.ejs %>
<div class="chart-box full-chart" id="trend-chart"></div>

<script>
	$(document).ready(function(){		
		<% include /partials/highcharts/_trend-chart.ejs %>
	});
</script>