<% layout('layout') -%>
<h3>FAQ</h3>

<h4>Why was this project made?</h4>
<p>I made this project because I love playing Pokemon and I find Wonder Trade data fascinating.</p>

<h4>How dependable is this data?</h4>
<p>This is a community driven project, so people have the ability to put whatever they want.<br/>
	With the amount of time, effort, and money I am tossing into this project, I *hope* people don't put fake data.</p>

<h4>What happens if you find bad data?</h4>
<p>So... yea, I really hope it does not get to that. If it does, I have set aside a way to delete users and their wonder trades.</p>

<h4>Where do I share cool things I find here?</h4>
<p>Cool! You looked through the data and found some nifty stuff.  Maybe you find it neat that <a href="/data/pokemon/656">over 20% of the Froakies received had hidden abilities</a>... or maybe those operation <a href="/data/pokemon/704">Goomy</a> / <a href="/data/pokemon/41">Zubat</a> storms are real (pending December 4th I guess :) ).  Feel free to share your findings on the <a href="http://www.reddit.com/r/WonderTrade">WonderTrade Subreddit.</a></p>

<h4>I have more questions..</h4>
<p>And I have answers! :)<br/>Feel free to message me on <a href="http://www.reddit.com/user/theirondeveloper/">reddit</a></p>