<% layout('layout') -%>
<div class="page-content-inner">
	<h3>FAQ</h3>

	<h4>Why was this project made?</h4>
	<p>I made this project because I love playing Pokemon and I find Wonder Trade data fascinating.</p>

	<h4>How dependable is this data?</h4>
	<p>This is a community driven project, so people have the ability to put whatever they want.<br/>
		With the amount of time, effort, and money I am tossing into this project, I *hope* people don't put fake data.</p>

	<h4>What happens if you find bad data?</h4>
	<p>So... yea, I really hope it does not get to that. If it does, I have set aside a way to delete users and their wonder trades.</p>

	<h4>Has there been bad data?</h4>
	<p class="center">Yep, two fake enteries were submitted. I removed the offending data and users. :/</p>

    <h4>Is my password secure?</h4>
    <p class="center">Yes, all user registrations are hashed.</p>

	<h4>Where do I share cool things I find here?</h4>
	<p>Cool! You looked through the data and found some nifty stuff.  Maybe you find it neat that <a href="/data/pokemon/656">over 20% of the Froakies received had hidden abilities</a>. <a href="http://www.reddit.com/r/WonderTrade/comments/1rf06u/operation_zubat_storm/">Operation Zubat storm (Dec 4)</a>  and <a href ="http://imgur.com/0vSclT9">December 7th Starter Release</a> may be provide some interesting <a href="/data/pokemon/41">stats</a> as well.</p>

	<p class="center">Feel free to share your findings on the <a href="http://www.reddit.com/r/WonderTrade">WonderTrade Subreddit</a> as well!</p>

    <h4>Is there a way to submit in bulk?</h4>
    <p class="center">At this time, there isn't... sorry!</p>

	<h4>Why haven't you been <a href="/users/1">contributing</a>?</h4>
	<p>I know, and I'm super sorry! I've wanted to continuing wonder trading and recording new results, but I've also been trying to <a href="/updates">add more features</a> to this site.</p>

	<h4>I have more questions..</h4>
	<p class="center">And I have answers! :) Feel free to message me on <a href="http://www.reddit.com/user/theirondeveloper/">reddit</a></p>
</div>