<% layout('layout') %>
<h3>Welcome to the <br/>Contributor Corner</h3>
<div class="contributor-section">
	<ul class="contributor-links desktop-only">
		<% if(user) { %>
			<li><a href="/wondertrade/new">Add a wonder trade</a></li>
			<li><a href="/logout">Logout</a></li>			
		<% } else { %>
			<li><a href="/register">Register</a> or <a href="/login">Login</a></li>
		<% } %>		
	</ul>
	<div class="contributor-banner">
		<p>If you are here that means you likely want to help out, which makes you awesome!</p>		
	</div>
	<h4 class="center">Helping out is simple!</h4>
	<ul class="clear">
		<li>1. <a href="/register">Register</a> or <a href="login">Login</a></li>
		<li>2. Go to the <a href="/wondertrade/new">add wondertrade</a> page</li>
		<li>3. Send out a wonder trade, recording the pokemon/trainer results you receive.</li>
		<li style="text-align:center;"> ... and that's it. </li>
		<li>I'd recommend following <a href="http://www.reddit.com/r/WonderTrade/comments/1on2ps/wonder_trade_etiquette/">/r/WonderTrade's Etiquette guide,</a> those guys have a good handle on what is considered helpful wonder trades.</li>
		<li>Most importantly, have fun! If your interested in seeing whose submitted the most data, contributor results will be stored in the <a href="/contributors">contributor's page</a>! :)</li>
        <li>Update: If you already post to /r/WonderTrade, I recommend "linking" your Reddit Account at <a href="/dashboard">dashboard</a>. Your user page will display your /r/WonderTrade reddit posts.</li>
	</ul>
	<p>If you have any feedback, feel free to let me know <a href="http://www.reddit.com/user/TheIronDev/">on reddit!</a></p>
</div>