<% layout('layout') -%>
<h3>Welcome to the <br/>Contributer Corner</h3>
<div class="contributer-section">
	<ul class="contributer-links">
		<% if(user) { %>
			<li><a href="/wondertrade/new">Add a wonder trade</a></li>
			<li><a href="/logout">Logout</a></li>			
		<% } else { %>
			<li><a href="/register">Register</a> or <a href="/login">Login</a></li>
		<% } %>		
	</ul>
	<div class="contributer-banner">
		<p>If you are here that means you likely want to help out, which makes you awesome!</p>		
	</div>
	<h4 class="center">Helping out is simple!</h4>
	<ul class="clear">
		<li>1. Register and Log in</li>
		<li>2. Go to the <a href="/wondertrade/new">add wondertrade</a> page</li>
		<li>3. Send out a wonder trade, recording the pokemon/trainer results you receive.</li>
		<li style="text-align:center;"> ... and thats it. </li>
		<li>I'd recommend following <a href="http://www.reddit.com/r/WonderTrade/comments/1on2ps/wonder_trade_etiquette/">/r/WonderTrade's Etiquette guide,</a> those guys have a good handle on what is considered helpful wonder trades.</li>
		<li>Most importantly, have fun! If your interested in seeing whose submitted the most data, contributer results will be stored in the <a href="/contributers">contributers page</a>! :)</li>			
	</ul>
	<p>I have been working on this webapp for the past two weeks, so there are still a few nuts and bolts I am working out.</p>		
	<p>If you have any feedback, feel free to let me know <a href="http://www.reddit.com/user/theirondeveloper/">on reddit!</a></p>
</div>