<% layout('layout') %>
<h3>Welcome to the <br/>PokeWonderTrade Analytics Project</h3>
<div class="center">
	<p>This WebApp was built to help provide deeper insight into Pokemon X and Y's Wonder Trade System. <br/>All Wonder Trade data is user submitted. If you are interested in submitting your own wonder trade data here, register <a href="/register">here</a>!!</p>
	<p>There have been a total of <span class="wondertradeCount"><%= wondertradeCount %></span> wonder trades recorded.<br/>If you are here for the data, step right over to the <a href="/data">Data Overview</a> page.</p>
</div>


<div class="chart-box full-chart" id="date-trend-chart"></div>

<script>
	$(document).ready(function(){
		<% include partials/highcharts/_wondertrades-byDate-chart.ejs %>
	});
</script>