<% layout('layout') -%>
<h3>Welcome!</h3>


<table style="margin:0 auto;width:80%;text-align:center;">
	<thead>
		<tr>
			<th>Priority</th>
			<th>Task</th>
		</tr>
	</thead>

	<tr>
		<td>p1</td>
		<td>Make Data Controller</td>
	</tr>

	<tr>
		<td>p1</td>
		<td>Plan routes for /data controller</td>
	</tr>

	<tr>
		<td>p2</td>
		<td>Import Google Docs/ CSV</td>
	</tr>

	<tr>
		<td>p1</td>
		<td>User authentication</td>
	</tr>

	<tr>
		<td>p5</td>
		<td>Responsive Design</td>
	</tr>

	<tr>
		<td>p5</td>
		<td>Add Highcharts</td>
	</tr>

</table>