<% layout('layout') -%>
<h3>Welcome!</h3>
<p> This page is very much in development still. Any data you enter here *will* be wiped. :x</p>

<h4>TODO List</h4>
<table style="margin:0 auto;width:80%;text-align:center;">
	<thead>
		<tr>
			<th>Priority</th>
			<th>Task</th>
		</tr>
	</thead>

	<tr>
		<td>p2</td>
		<td>Import Google Docs/ CSV</td>
	</tr>

	<tr>
		<td>p1</td>
		<td>User authentication</td>
	</tr>

	<tr>
		<td>p1</td>
		<td>DNS Routing</td>
	</tr>

	<tr>
		<td>p1</td>
		<td>Cache Redis requests</td>
	</tr>

</table>

<div>

</div>