<% layout('layout') -%>
<h3>Welcome to the <br/>PokeWonderTrade Analytics Project</h3>
<div class="center">
	<p>This WebApp was built to help provide deeper insight into Pokemon X and Y's Wonder Trade System. <br/>All Wonder Trade data is user submitted. If your interested in submitting your own wonder trade data here, contact me <a href="">here</a>.</p>
</div>

<div class="chart-box full-chart" id="pokemon-chart"></div>

<h4>TODO List (please disregard)</h4>
Import Google Docs/ CSV, User authentication, DNS Routing, Cache Redis requests


<script>
	<% include partials/highcharts/_wondertrades-byDate-chart.ejs %>
</script>