<% layout('layout') %>
<h3>Welcome to the <br/>PokeWonderTrade Analytics Project</h3>
<div class="center">
	<p>This WebApp was built to help provide deeper insight into Pokemon's Wonder Trade System. <br/>All Wonder Trade data is user submitted. If you are interested in submitting your own wonder trade data here, register <a href="/register">here</a>!!</p>
	<p>There have been a total of <span class="wondertradeCount"><%= wondertradeCount %></span> wonder trades recorded.<br/>If you are here for the data, step right over to the <a href="/data">Data Overview</a> page.</p>
	<p><b>Trending notice</b>:<br/> Since ORAS has been released, the WonderTrade scene looks has changed dramatically.<br/> Checkout the difference between <a href="/data/daterange/2014-11-13/2014-11-20">PRE ORAS Release</a> to <a href="/data/daterange/2014-11-21/now">POST ORAS Release</a></p>
</div>

<div class="chart-box full-chart" id="date-trend-chart"></div>
<sub>Note: If the graph is blank, the server is re-caching the data. It should be back up in 1-2 minutes.</sub>

<script>
	$(document).ready(function(){
		<% include partials/highcharts/_wondertrades-byDate-chart.ejs %>
	});
</script>
