<% layout('layout') -%>
<h3>Welcome!</h3>


<table style="margin:0 auto;width:80%;text-align:center;">
	<thead>
		<tr>
			<th>Priority</th>
			<th>Task</th>
		</tr>
	</thead>

	<tr>
		<td>p2</td>
		<td>Import Google Docs/ CSV</td>
	</tr>

	<tr>
		<td>p1</td>
		<td>User authentication</td>
	</tr>

</table>

<div>
<h4>Reddit people intererested in helping</h4>
<p>https://docs.google.com/spreadsheet/ccc?key=0AoJVHM5p2TbTdFhtS0pWSUxRLXdmaE50Q2hQamFDb0E&usp=sharing</p>
<ul>
	<li>MindbogglerXD</li>
	<li>psquared3524</li>
	<li>Faranae</li>
	<li>floresitabonita</li>
	<li>bee-chain</li>
	<li>Kaz3</li>
	<li>KingofAces</li>
</ul>
<h4>Tumblr</h4>
<ul>
	<li>moonis</li>
</ul>
</div>