<!DOCTYPE html>
<html>
  <head>
    <title>Wonder Trade Analytics</title>    
    <link rel="stylesheet" href="/style.css" />
    <script type="text/javascript" src="/scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/scripts/highcharts.js"></script>
    <script>
      Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
          return {
              radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
              stops: [
                  [0, color],
                  [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
              ]
          };
      });
      Date.prototype.customFormatDate = function(){
        var year = this.getFullYear(),
          month = ('0'+(this.getMonth()+1)).slice(-2),
          day = ('0'+(this.getDate())).slice(-2);
        return [year, month, day].join('-');
      };
    </script>
  </head>
  <body>
    <div class="page-background">&nbsp;</div>
    <header class="container">
      <h1><%= title %></h1>
    </header>
    <div class="wrapper">
      <% if(pageState) { %>
        <div class="stateMessage <%= pageState %>">
          <%= stateMessage %>
        </div>
      <% } %>

    	<div class="container page">	    
  	     <div class="page-content">
          <%- body %>
        </div>
        <div class="page-sidebar">
          <h3>Site Nav ▼</h3>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/wondertrade">Recent Wonder Trades</a></li>
            <li><a href="/wondertrade/new">Add a Wonder Trade</a></li>
            <li>&nbsp;</li>
            <li><a href="/data">Data Index</a></li>
            <li><a href="/data/pokemon">Data By Pokemon</a></li>
          </ul>
        </div>
      </div>
    </div>    
  </body>
</html>