<% layout('layout') %>
<div class="page-content-inner updates">
    <a class="commits" href="https://github.com/TheIronDeveloper/pokemon-wondertrade-analytics/commits/master">(Git Commits)</a>
    <h3>Updates</h3>

    <h4>2014-11-25</h4>
    <p>Date range pages have been added. Example: <a href="/data/daterange/2014-11-21/now">Post ORAS Wonder Trades</a></p>

    <h4>2014-01-31</h4>
    <p><a href="/visualize">Visualization</a> page was created.</p>

    <h4>2014-01-17</h4>
    <p><a href="/data/time">Time Page</a> was created.</p>

    <h4>2014-01-09</h4>
    <p><a href="/groups">Pokemon Groups</a> page was added, showing a comparative view for similar <Pokemon class=""></Pokemon></p>

    <h4>2014-01-06</h4>
    <p>Original Trainer ID and Name were added as WonderTrade submission fields.</p>

    <h4>2013-12-31</h4>
    <p><a href="/data/likes">Likes Page</a> was created.</p>

    <h4>2013-12-30</h4>
    <p>Submission time and "likes" have been added to Wonder Trade submissions.</p>

    <h4>2013-12-06</h4>
    <p>Pokemon nicknames have been added as a new field.</p>

    <h4>2013-12-01</h4>
    <p>The <a href="/dashboard">dashboard</a> page has been added! The only new feature available is linking your reddit account to your user results page. Contributors with reddit-linked accounts will see links to their reddit page in the <a href="/contributors">contributor's</a> page, as well as their /r/WonderTrade posts in their summary of results page.</p>

    <h4>2013-11-28</h4>
    <p>Data filtered by User *and* Date have been added, and are accessible at individual user pages.</p>

    <h4>2013-11-27</h4>
    <p>Data filtered by <a href="/data/hiddenAbilities">Pokemon with Perfect IV</a> has been added.</p>

    <h4>2013-11-26</h4>
    <p>Data filtered by <a href="/data/hiddenAbilities">Pokemon with Hidden Abilities</a> and <a href="/data/gender">Gender Submissions</a> has been added.</p>

    <h4>2013-11-21</h4>
    <p>Day one. This WebApp has been pushed to Heroku servers and data gathering was quickly started by the <a href="http://www.reddit.com/r/WonderTrade">/r/WonderTrade community</a>.</p>
</div>