*{box-sizing:border-box;-moz-box-sizing:border-box;}


@font-face {
    font-family: Steelworks;
    src: url("/fonts/SteelworksBook.otf");
    font-weight:400;
}


body{margin: 0;font-family: "helvetica"}
h1,h2,h3,h4{text-align: center;color: #fff;text-shadow:1px 1px 1px #000;font-family: "Steelworks"}
table{border-collapse: collapse;}
td, th{border:1px solid #000;padding: 0.1em;}
tr{background: #C5DBF3;color:#000;}
tr:nth-child(even){background: #efefef;}
tbody tr:hover{background: #ffa}
thead tr{background: #333;color: #fff;text-shadow:1px 1px 1px #000;}
a{color: #efef38}

/* Cheaty Helpers */
.center{text-align: center;}

/* Page specific */
.page-background{background: url(images/background.jpg) no-repeat bottom right #8cd8dc;height:100%;position: fixed;width: 100%;top:0;z-index: -1;}
.wrapper{background: rgba(0,0,0,0.8);color:#efefef;padding: 1em;}
.wrapper:after{clear: both;content: '';display: block;}
.container{width: 1020px;margin: 0 auto;}

/* Layout */
.page{position: relative;}
.page-content{width:100%;}

/* Sidebar */
.page-sidebar{width:200px;position: absolute;top:-1em;right: 0;background: rgba(0,0,0,0.8);padding: 1em;}
.page-sidebar h3{padding: 0;margin:0;}
.page-sidebar ul{list-style: none;padding: 0;height: 0;margin:0;overflow: hidden;text-align: center;}
.page-sidebar ul li a{display: block;}

.page-sidebar:hover ul{height: auto;}
.page-sidebar ul li a:hover{background: rgba(255,255,255,.2);}

.stateMessage{color:#000;padding:1em 0;text-align: center;}
.stateMessage.warning{background: #ff6;}
.stateMessage.error{background: #f00;color: #fff;text-shadow: 1px 1px 1px #000;}
.stateMessage.success{background: #0f0;}

/* About page */
.team-member{background: #efefef;color: #000;float: left;margin:1%;padding:0.5em;width: 48%;}
.team-member .avatar{float: left;width: 30%;}
.team-member .description{float: left;width: 70%;}

/* Wondertrade list*/
.wondertrade-list{text-align: center;width: 100%;}
.wondertrade-list .strong-divider{border-right: 2px solid #000}
.wondertrade-list .gender-male{color:blue;}
.wondertrade-list .gender-female{color:#f0f;}
.wondertrade-list a{color: #009;}

/* Wondertrade new*/
.input-columns{margin: 0 auto;overflow: hidden;width: 80%}
.input-column{float: left;width: 48%;margin: 0 1%;min-height:10em;padding: 1em;font-weight: bold;}
.input-column label{font-weight: normal;}
.input-column .radio-group,
.input-column select,
.input-column input[type="number"],
.input-column input[type="text"]{float: right;width: 180px}
.input-column .input-row{line-height: 1.5em;clear:both;margin: 1em 0;}
.pokemon-details{background: rgba(100,150,100,.6);}
.trainer-details{background: rgba(100,100,150,.6);}

.checkbox-group{overflow: hidden;}
.input-column .radio-group label,
.checkbox-group label{background: rgba(0,0,0,.3);display:inline-block;min-width: 30%;text-align: center;}
.input-column .radio-group label:hover,
.checkbox-group label:hover{cursor: pointer;background: rgba(0,0,0,.6)}

button{border: none;display:block;margin: 0 auto;}
button:hover{box-shadow: 0 0 50px #ccc;cursor: pointer;}
.pokeball-submit{
	/* hot linking while developing, I'll make a different version */
	background: url(http://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG) no-repeat center center;
	background-size: contain;
	display:block;
	height: 5em;
	width: 5em;
}


/* Data */
.chart-box{background: rgba(0,0,0,.3);margin: 1px 0}
.chart-box.half-chart{float:left;width: 50%;}

.quick-stats{background: rgba(0,0,0,.3);padding:0.5em;overflow: hidden;text-shadow: 1px 1px 1px #333;}
.quick-stats h4{margin: 0.5em;}
.quick-stats ul{padding: 0;margin: 0;list-style: none;}
.quick-stats ul li{padding:0.5em 0;width: 50%;float: left;text-align: center;}
.quick-stats .shiny{background: rgba(255, 215, 0, 0.4);}
.quick-stats .pokerus{background: rgba(160,32,240, 0.4);}
.quick-stats .hiddenAbility{background: rgba(0,0,255,0.4);}
.quick-stats .item{background: rgba(255,0,0,0.4);}
.quick-stats .total-wondertrades{background:rgba(0,128,0,0.4);padding:0.5em; text-align: center;}