*{box-sizing:border-box;-moz-box-sizing:border-box;}
body{margin: 0;}
h1{text-align: center;}
table{border-collapse: collapse;}
td, th{border:1px solid #000;padding: 0.1em;}
tr{background: #131f43;color:#efefef;}
tr:nth-child(even){background: #59627b;}
a{color: #efef38}

/* Page specific */
.wrapper{background: rgba(0,0,0,0.8);color:#efefef;padding: 1em;overflow: hidden;}
.container{width: 100%; max-width: 960px;margin: 0 auto;}

.wondertrade-list{text-align: center;}

.input-columns{margin: 0 auto;overflow: hidden;width: 80%}
.input-column{float: left;width: 48%;margin: 0 1%;min-height:9em;padding: 1em;font-weight: bold;}
.input-column label{font-weight: normal;}
.input-column .radio-group,
.input-column select,
.input-column input[type="text"]{float: right;}
.input-column .input-row{line-height: 2em;}
.pokemon-details{background: rgba(100,150,100,.6);}
.trainer-details{background: rgba(100,100,150,.6);}


button{border: none;display:block;margin: 0 auto;}
.pokeball-submit{
	/* hot linking while developing, I'll make a different version */
	background: url(http://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG) no-repeat center center;
	background-size: contain;
	display:block;
	height: 5em;
	width: 5em;
}