*{box-sizing:border-box;-moz-box-sizing:border-box;}


@font-face {
    font-family: Steelworks;
    src: url("/fonts/SteelworksBook.otf");
    font-weight:400;
}


body{margin: 0;font-family: "helvetica";line-height: 1.5em;}
h1,h2,h3,h4{text-align: center;color: #fff;text-shadow:1px 1px 1px #000;font-family: "Steelworks";}
h4{margin: 0.5em;}
table{border-collapse: collapse;}
td, th{border:1px solid #000;padding: 0.1em;}
tr{background: #C5DBF3;color:#000;}
tr:nth-child(even){background: #efefef;}
tbody tr:hover{background: #ffa}
thead tr{background: #333;color: #fff;text-shadow:1px 1px 1px #000;}
a{color: #efef38}

input:focus,
select:focus{box-shadow: 0 0 15px #ff0}

/* Cheaty Helpers */
.center{text-align: center;}
.left{float:left;}
.clear{clear:both;}
.requiredField{background: rgba(255,0,0,.5);}

/* Page specific */
.page-background{background: url(images/background.jpg) no-repeat bottom right #8cd8dc;height:100%;position: fixed;width: 100%;top:0;z-index: -1;}
.wrapper{background: rgba(0,0,0,0.8);color:#efefef;padding: 1em;width: 100%;}
.wrapper:after{clear: both;content: '';display: block;}
.container{margin: 0 auto;}
.espurr{background: url(images/espurr.png) no-repeat bottom right #8cd8dc;}

.wondertradeCount{padding: 2px 10px; background: rgba(100,100,200,0.5);font-size: 1.5em;}

/* Layout */
.page{position: relative;}
.page-content{width:100%;}
.page-content-inner{max-width: 960px;margin: 0 auto;}

.pageHead{position: relative;}
.pageHead .user{position: absolute;top:0em;right: 1em;background: rgba(0,0,0,.8);color: #fff;padding: 0.5em;}

/* Sidebar */
.page-sidebar{background: rgba(0,0,0,0.8);padding: 0.5em 0.2em;overflow: hidden;font-family: "Steelworks";}
.page-sidebar h3{padding: 0;margin:0;float: left;}
.page-sidebar ul{list-style: none;margin:0;padding:0;text-align: center;font-size: 0.9em;}
.page-sidebar ul li{float: left;height: 3em;position:relative;}
.page-sidebar ul li a,
.page-sidebar ul li span{display: table-cell;height: 3em;vertical-align: middle;padding:0 1em 0 0.5em;}


.page-sidebar ul li:before{border-left: 0.5em solid #000;border-top: 1.5em solid transparent;border-bottom: 1.5em solid transparent;display: block;position: absolute;top: 0;right: 1px;content: ' ';z-index: 2;}
.page-sidebar ul li:after{border-left: 0.5em solid #efefef;border-top: 1.5em solid transparent;border-bottom: 1.5em solid transparent;display: block;position: absolute;top: 0;right: 0;content: ' ';}
.page-sidebar ul li.last:before,
.page-sidebar ul li.last:after{display: none;}

.page-sidebar ul li a:hover{text-shadow:1px 1px 1px #66f;}

.stateMessage{color:#000;padding:1em 0;text-align: center;}
.stateMessage.warning{background: #ff6;}
.stateMessage.error{background: #f00;color: #fff;text-shadow: 1px 1px 1px #000;}
.stateMessage.success{background: #0f0;}

.requiredMessage{color: #f00;text-align: center;text-shadow:1px 1px 1px #111;padding: 0.5em 0;background: rgba(0,0,0,.2);display: none;}

/* About page */
.team-member{background: #efefef;color: #000;float: left;margin:1%;padding:0.5em;width: 48%;}
.team-member .avatar{float: left;width: 23%;}
.team-member .avatar img{max-width: 100%;}
.team-member .description{float: left;width: 70%;font-size: 0.9em;}
.team-member .description a{color: #66a;}

.contributer-list{list-style: none;overflow: hidden;margin:0.5em;padding:0;}
.contributer-list .contributer{background: #fff;color: #000;padding: 0.5em;float: left;margin: 0.1em;}
.contributer-list .contributer a{color: #66f}
.contributer-list .contributer .count{font-size: 0.8em;	}

.tech-stack{list-style: none;float: left;margin:5px 0 0;padding:0;width: 48%;}
.tech-stack .tech{float: left;padding: 0.5em;margin:0.1em;background: rgba(0,0,0,0.9);min-height: 5em;text-align:center;transition:all 1s ease;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;}
.tech-stack .tech:hover{background: rgba(155,155,155,0.9)}
.tech-stack .tech img{height: 5em;max-width: 100%;vertical-align: middle;}

/* Wondertrade list */
.wondertrade-list{text-align: center;width: 100%;}
.wondertrade-list .strong-divider{border-right: 2px solid #000}
.wondertrade-list .gender-male{color:blue;}
.wondertrade-list .gender-female{color:#f0f;}
.wondertrade-list a{color: #009;}

.pokemon-list{text-align: center;clear: both; overflow: hidden;}
.pokemon-list a{color: #fff;padding: 0.3em;float: left;}


.checkArea{color: #0c0;text-shadow:1px 1px 1px #ccc;}

/* Wondertrade new */
.input-columns{margin: 0 auto;width: 80%}
.input-columns:after{clear: both;content: '';display: block;}
.input-column{float: left;width: 48%;margin: 0 1%;min-height:10em;padding: 1em;font-weight: bold;}
.input-column label{font-weight: normal;}
.input-column .radio-group,
.input-column select,
.input-column input[type="number"],
.input-column input[type="text"]{float: right;width: 180px}
.input-column .input-row{line-height: 1.5em;clear:both;margin: 1em 0;}
.pokemon-details{background: rgba(100,150,100,.6);}
.trainer-details{background: rgba(100,100,150,.6);}
.clarify-inputs{font-weight:normal;text-align:center;font-size: 0.9em;}

.checkbox-group{}
.input-column .radio-group label,
.checkbox-group label{background: rgba(0,0,0,.3);display:inline-block;margin-bottom:1px;text-align: center;}
.input-column .radio-group label{min-width: 40%;}
.checkbox-group label {min-width: 48%;}
.checkbox-group label.full{min-width: 96.75%}
.input-column .radio-group label:hover,
.checkbox-group label:hover{cursor: pointer;background: rgba(0,0,0,.6)}

button{border: none;display:block;margin: 0 auto;}
button:hover{box-shadow: 0 0 50px #ccc;cursor: pointer;}
.pokeball-submit{
	/* hot linking while developing, I'll make a different version */
	background: url(/images/pokeball.png) no-repeat center center;
	background-size: contain;
	display:block;
	height: 5em;
	width: 5em;
}

.user-auth-form { padding: 1em;margin: 0 auto; width: 40%;background: rgba(0,0,0,.3);overflow: hidden;}
.user-auth-form label {display: block;line-height: 2em;}
.user-auth-form .user-auth-fields{float: left;}
.user-auth-form .pokeball-submit {float: right;color:#fff;text-shadow: 1px 1px 1px #000;}

/* Data */
.chart-box{background: rgba(0,0,0,.3);margin: 1px 0 0.5em;padding: 0.5em;}
.chart-box h4{padding: 0}
.chart-box.half-chart{float:left;width: 50%;}

.quick-stats{background: rgba(0,0,0,.3);padding:0.5em;overflow: hidden;text-shadow: 1px 1px 1px #333;margin-bottom: 0.5em;}
.quick-stats ul{padding: 0;margin: 0;list-style: none;}
.quick-stats ul li{padding:0.5em 0;width: 50%;float: left;text-align: center;}
.quick-stats .shiny{background: rgba(255, 215, 0, 0.4);}
.quick-stats .pokerus{background: rgba(160,32,240, 0.4);}
.quick-stats .hiddenAbility{background: rgba(0,0,255,0.4);}
.quick-stats .item{background: rgba(255,0,0,0.4);}
.quick-stats .eggMove{background: rgba(255,255,255,0.4);}
.quick-stats .notableIV{background: rgba(100,200,100,0.4);}
.quick-stats .total-wondertrades{background:rgba(0,128,0,0.4);padding:0.5em; text-align: center;}

.quick-stats .userSubmissionsByDate{overflow: hidden;}
.quick-stats .userSubmissionsByDate li{float: left;width: auto;margin: 0.5em;}
.quick-stats .userSubmissionsByDate li a{padding: 0.5em;display: block;transition:all .5s ease;}
.quick-stats .userSubmissionsByDate li a:hover{background: rgba(255,255,255,.1)}

.gender-sides{overflow: hidden;text-align: center;}
.gender-sides .gender-side{float: left;width: 50%;}
.gender-sides .male-side{background: rgba(0,0,255,.3);}
.gender-sides .female-side{background: rgba(255,0,255,.3);}
.gender-sides .top-ten{padding: 0;}
.gender-sides .top-ten li:nth-child(odd){background: rgba(0,0,0,.2)}

.select-level-options{width: 100%;max-width:500px;margin: 0 auto;}
.select-level-options:after{clear: both;content: ' ';display: block;}
.select-level-options form,
.select-level-options a{float: left;width: 30%;}

.dashboardArea{background: rgba(0,0,0,.3);padding:0.5em;overflow: hidden;text-shadow: 1px 1px 1px #333;margin-bottom: 0.5em;}

.redditUsername{background: rgba(0,255,0,.5);padding: 0.5em;text-align: center}
.redditUsername .username{color: #000;text-shadow: 1px 1px 1px #ccc;}

.redditPosts-wrapper {background: rgba(255,255,255,.8);padding: 0.5em 0;margin-bottom: 0.5em;}
.redditPosts {overflow: hidden;list-style: none;padding: 0.5em;}
.redditPosts .redditPost {float: left;display: block;max-width: 25%;}
.redditPosts .redditPost a{display: block;background: rgba(0,0,0,.8);box-shadow: 5px 5px 5px #999;margin: 1%;padding: 0.5em;overflow: hidden;transition: all 0.5s ease}
.redditPosts .redditPost a:hover{background: rgba(255,255,255, 0.5);color: #009;}
.redditPosts .redditPost .thumbnail{float: left;margin-right: 0.5em;}

.contributer-section{}
.contributer-banner{float: left;width: 70%;}
.contributer-section ul{list-style:none;padding: 0;}
.contributer-section li{padding: 0.5em;background: rgba(100,100,200,.3);}
.contributer-section li:nth-child(even){ background: rgba(0,0,0,.3);}
.contributer-links{float:right;text-align:center;list-style: none;background: rgba(0,0,0,.6);padding: 1em;margin:0;width: 30%;}
.contributer-links li{background: inherit;padding: 0;}
.contributer-links li a{display: block;transition:all 0.5s ease;padding: 0.5em;}
.contributer-links li a:hover{background: rgba(155,155,255,.3)}

@media (max-width: 800px) {
	.input-column{width: 100%;}
	.clarify-inputs{display: none;}
    .redditPosts .redditPost {max-width: 50%;}
}

@media (max-width: 600px) {
	.checkbox-group label,
	.checkbox-group label.full{width: 100%;}
    .redditPosts .redditPost {max-width: 100%;width:100%;}
}

