<% layout('../layout') -%>
<h1>This is the wonder trade page </h1>
<h3>A list of all wonder trades should be shown here</h3>


<ul>
	<% for(var i=0, max=wondertrades.length;i<max;i++) { %>
		<li><%= wondertrades[i] %></li>
	<% } %>
</ul>