<% layout('../layout') -%>
<h1>form here</h1>
<% if(state === "post") { %>
	<h3>Your last wonder trade has been added </h3>
<% } %>

<form name="input" action="/wondertrade/new" method="post">
	<div class="col2">
		<label>PokemonID: <input type="text" name="pokemonId" /></label>
		<label>Pokemon Nickname (optional): <input type="text" name="pokemonNickname" /></label>	
		<label>Pokemon Has Item?: <input type="checkbox" name="hasItem" /></label>
		<label>Pokemon Has Hidden Ability?: <input type="checkbox" name="hasHiddenAbility" /></label>
		<label>Pokemon Is Shiny?: <input type="checkbox" name="isShiny" /></label>
		<label>Pokemon Held Item?: <input type="text" name="item" /></label>
	</div>
	<div class="col2">
		Trainer Gender:
		<label> Male  <input type="radio" name="trainerGender" value="male" /><label>
		<label> Female<input type="radio" name="trainerGender" value="female" /></label>	
		<label>Trainer Country: <input type="text" name="trainerCountry" /></label>
		<label>Trainer Country Sub: <input type="text" name="trainerCountrySub1" /></label>
		<input type="submit" />
	</div>
</form>