<% layout('../layout') -%>
<h2>Submit a new Wonder Trade</h2>

<form name="input" action="/wondertrade/new" method="post">
	<div class="input-columns">
		<div class="input-column trainer-details">
			<h4>Trainer Information</h4>
			<div class="input-row">
				Trainer Gender:
				<span class="radio-group">
					<label> Male &#9794; <input type="radio" name="gender" value="male" /></label>
					<label> Female &#9792; <input type="radio" name="gender" value="female" /></label>
				</span>
			</div>
			<div class="input-row">
				<label>
					Trainer Country:
					<select name="trainerCountry">
						<option value="">Select a Country</option>
						<% for(var country in countryList) { %>
							<option value="<%= countryList[country]['id'] %>"><%= countryList[country].name %></option>
						<% } %>				
					</select>
				</label>
			</div>
			<div class="input-row">
				<label>Trainer Country Sub: <input type="text" name="trainerCountrySub1" /></label>
			</div>
			<p class="clarify-inputs">To clarify: These fields are for the<br/>trainer you received the wonder trade <u>from</u>, not yourself.</p>
		</div>
		<div class="input-column pokemon-details">
			<h4>Pokemon Received</h4>
			<div class="input-row">
			<label>
				Pokemon Received:
				<select name="pokemonId">
					<%- include ../partials/_pokemon-select-menu.ejs %>			
				</select>
			</label>
			</div>			
			<div class="input-row">
				<label>Pokemon Level: <input type="number" name="level" min="1" max="100"  /></label>
			</div>
			<div class="input-row checkbox-group">
				<label><input type="checkbox" name="hasItem" />Item</label>
				<label><input type="checkbox" name="hasHiddenAbility" />Hidden Ability</label>
				<label><input type="checkbox" name="isShiny" />Shiny</label>
				<label><input type="checkbox" name="hasPokerus" />Pokerus</label>
				<label><input type="checkbox" name="hasEggMove" />Notable Egg Moves</label>
				<label class="hasNotableIVLabel">
					<input type="checkbox" name="hasPerfectIV" />Any Perfect IV					
				</label>
				<p class="clarify-inputs">Perfect IV: Look for markings in the pokemon summary page, that usually means that the pokemon has perfect IVs. <a target="_blank" href="http://www.reddit.com/r/WonderTrade/comments/1q89p9/wonder_trade_psa_marking_ivs_xpost_from_rpokemon/">More Info</a></p>
			</div>
			<div class="input-row">
				<label>Pokemon Nickname (if any): <input type="text" name="pokemonNickname" /></label>
			</div>
		</div>
	</div>
	<button><i class="pokeball-submit"></i>Submit</button>

</form>