<% layout('../layout') -%>
<h1>form here</h1>
<% if(state === "post") { %>
	<h3>Your last wonder trade has been added </h3>
<% } %>

<form name="input" action="/wondertrade/new" method="post">
	<div class="col2">
		<label>
			PokemonID:
			<select name="pokemonId">
				<% for(var pokemon in pokemonList) { %>
					<option value="<%= pokemonList[pokemon]['id'] %>"><%= pokemonList[pokemon].name %></option>
				<% } %>				
			</select>
		</label>
		<label>Pokemon Nickname (optional): <input type="text" name="pokemonNickname" /></label>	
		<label>Item?: <input type="checkbox" name="hasItem" /></label>
		<label>Hidden Ability?: <input type="checkbox" name="hasHiddenAbility" /></label>
		<label>Shiny?: <input type="checkbox" name="isShiny" /></label>
	</div>
	<div class="col2">
		Trainer Gender:
		<label> Male  <input type="radio" name="gender" value="male" /></label>
		<label> Female <input type="radio" name="gender" value="female" /></label>	
		<label>Trainer Country: <input type="text" name="trainerCountry" /></label>
		<label>Trainer Country Sub: <input type="text" name="trainerCountrySub1" /></label>
		<input type="submit" />
	</div>
</form>