<% layout('../layout') -%>
<h3>Level Overview</h3>

<h4>Level <%= pokemonLevel %> Pokemon</h4>

<% include ../partials/_quick-stats.ejs %>
<div class="chart-box full-chart" id="pokemon-chart"></div>
<div class="chart-box half-chart" id="gender-chart"></div>
<div class="chart-box half-chart" id="region-chart"></div>

<script>
	$(document).ready(function(){		
		<% include ../partials/highcharts/_pokemon-chart.ejs %>
	    <% include ../partials/highcharts/_gender-chart.ejs %>
	    <% include ../partials/highcharts/_region-chart.ejs %>
	});
</script>