<% layout('../layout') -%>
<h3>Gender Overview</h3>

<div class="gender-sides">
	<div class="male-side gender-side">
		<h4>Male Stats</h4>

        <% var quickstats = maleQuickstats; %>
        <% include ../partials/_quick-stats.ejs %>

		<div class="chart-box">
			<h4>Top Ten Traded</h4>
			<ol class="top-ten">
				<% maleTopTenPokemon.forEach(function(pokemon){ %>
					<% include ../partials/_pokemon-and-count.ejs %>
				<% }); %>
			</ol>
		</div>
		<div class="chart-box full-chart" id="pokemon-chart-male"></div>
		<div class="chart-box full-chart" id="region-chart-male"></div>

	</div>
	<div class="female-side gender-side">
		<h4>Female Stats</h4>

        <% var quickstats = femaleQuickstats; %>
        <% include ../partials/_quick-stats.ejs %>

		<div class="chart-box">
			<h4>Top Ten Traded</h4>
			<ol class="top-ten">
				<% femaleTopTenPokemon.forEach(function(pokemon){ %>
					<% include ../partials/_pokemon-and-count.ejs %>
				<% }); %>
			</ol>
		</div>
		<div class="chart-box full-chart" id="pokemon-chart-female"></div>
		<div class="chart-box full-chart" id="region-chart-female"></div>		
	</div>

</div>

<script>
	$(document).ready(function(){
		<% include ../partials/highcharts/_region-chart-male.ejs %>
		<% include ../partials/highcharts/_region-chart-female.ejs %>
		<% include ../partials/highcharts/_pokemon-chart-female.ejs %>
		<% include ../partials/highcharts/_pokemon-chart-male.ejs %>
	});
</script>