<% layout('../layout') %>
<h3>Pokemon Groups</h3>
<div class="page-content-inner">
    <p>By popular demand, I have made a pokemon "groups" page. These pages break-down the pokemon data based on similar features.</p>
    <p>If you feel that a particular group should be added, feel free to <a href="http://www.reddit.com/user/TheIronDev/">message me on reddit</a> to let me know!  Thanks!</p>

    <ul class="pokemon-groups">
        <li><a href="/groups/eeveelutions">Eeveelutions</a></li>
        <li><a href="/groups/starters">Starters</a></li>
        <li><a href="/groups/trade-evos">Trade-Evolutions</a></li>
        <li><a href="/groups/fossils">Fossil Pokemon</a></li>
        <li><a href="/groups/version-exclusives">X / Y Exclusives</a></li>
        <li><a href="/groups/omega-exclusives">OR Exclusives</a></li>
        <li><a href="/groups/alpha-exclusives">AS Exclusives</a></li>
        <li><a href="/groups/trio-legendarys">Trio-Legendarys</a></li>
    </ul>
    <p>Credit to <a href="/users/3032">luvianblue</a> for gathering the pokemon for the fossil and oras lists.</p>
</div>