<% layout('../layout') -%>
<h3>Data Overview</h3>


<div class="quick-stats">
	<p class="center">There are a total of <%= result.length %> wonder trades recorded.</p>
	<ul>
		<li><a href="/data/pokemon">Wonder Trades filtered by Pokemon</a></li>
		<li><a href="/data/regions">Wonder Trades filtered by Regions</a></li>
	</ul>
</div>
<div class="chart-box full-chart" id="region-chart"></div>
<div class="chart-box full-chart" id="pokemon-chart"></div>

<script>
	$(document).ready(function(){
		<% include ../partials/highcharts/_pokemon-chart.ejs %>	    
	    <% include ../partials/highcharts/_region-chart.ejs %>
	});
</script>