<% layout('../layout') -%>
<h3>Data Overview</h3>

<p>There are a total of <%= result.length %> wonder trades recorded.</p>

<div class="chart-box full-chart">
<h4><a href="/data/pokemon">Pokemon</a></h4>
</div>

<div class="chart-box half-chart">
<h4>Gender</h4>
</div>

<div class="chart-box half-chart">
	<h4><a href="/data/regions">Regions</a></h4>

	.. consider http://datamaps.github.io/
</div>