<% layout('../layout') %>

<h2>Community Opinion</h2>

<h3>Liked Pokemon</h3>
<ul class="pokemon-like-list">
    <% (pokemonLikenessList.likes).forEach(function(pokemon){ %>
        <% include ../partials/_pokemon-like-data.ejs %>
    <% }); %>
</ul>

<h3>Disliked Pokemon</h3>

<ul class="pokemon-like-list">
    <% (pokemonLikenessList.dislikes).forEach(function(pokemon){ %>
        <% include ../partials/_pokemon-like-data.ejs %>
    <% }); %>
</ul>
