<% layout('../layout') %>

<h3>Trainer Ids that have been recorded</h3>

<p>... It is sad for me to say... that the trainer id pages have been deprecated.</p>

<p>The why is pretty simple, the way I had been maintaining the list of all trainers ids, names, and pokemon associated with each other became rather costly.
	These pages only accounted for 1.6% of this site's traffic, but provided a heavy load on the webapps memory, and ultimately ended up slowing down other pages.</p>

<p>I *could* have worked to maintain this list further, or upped the memory usage that heroku provides... but it came down to me not having enough time to work at a better solution.
	If you still want access to this information I am more than willing to provide the raw data. Feel free to reach out to me on reddit.</p>