<% layout('../layout') -%>
<h3>Pokemon Overview</h3>


<div class="chart-box full-chart">
    <h4>Review by Pokemon</h4>
    <form id="selectPokemon" class="center">
        <select>
            <%- include ../partials/_pokemon-select-menu.ejs %>
        </select>
        <input type="submit" value="Go!">
    </form>    
</div>
<% include ../partials/_quick-stats.ejs %>

<div class="chart-box full-chart" id="pokemon-chart"></div>
<div class="chart-box full-chart" id="levels-chart"></div>
<% include ../partials/_pokemon-table.ejs %>


<script>
	$(document).ready(function(){
        $('#selectPokemon').on('submit', function(){            
            var pokemonId = $(this).find('option:selected').val();
            if(pokemonId > 0 && pokemonId < 719) {
                window.location = '/data/pokemon/'+pokemonId;
            }            
            return false;
        });

		<% include ../partials/highcharts/_trend-chart.ejs %>
        <% include ../partials/highcharts/_levels-chart.ejs %>   	    
	});
</script>