<% layout('../layout') -%>
<h3>Region Overview: <%= regionName %></h3>

<% include ../partials/_quick-stats.ejs %>
<div class="chart-box half-chart" id="gender-chart"></div>
<div class="chart-box half-chart" id="subregion-chart"></div>
<div class="chart-box full-chart" id="pokemon-chart"></div>
<div class="chart-box full-chart" id="levels-chart"></div>

<script>
	$(document).ready(function(){		
	    <% include ../partials/highcharts/_gender-chart.ejs %>
	    <% include ../partials/highcharts/_pokemon-chart.ejs %>
	    <% include ../partials/highcharts/_subregion-chart.ejs %>
	});
</script>