<% layout('../layout'); %>
<h3>Results by Time</h3>

<div class="chart-box full-chart" id="date-trend-chart"></div>

<script>
    Date.prototype.customFormatDate = function(){
        var year = this.getFullYear(),
                month = ('0'+(this.getMonth()+1)).slice(-2),
                day = ('0'+(this.getDate())).slice(-2);
        return [year, month, day].join('-');
    };

    $(document).ready(function(){
        <% include ../partials/highcharts/_wondertrades-quickstats-byTime-chart.ejs %>
    });
</script>