<% layout('../layout') -%>
<h3><%= username %> Results</h3>

<% include ../partials/_quick-stats.ejs %>
<% include ../partials/_user-submissions-bydate.ejs %>
<% include ../partials/_reddit-posts.ejs %>
<div class="chart-box full-chart" id="date-trend-chart"></div>
<div class="chart-box full-chart" id="pokemon-chart"></div>
<% include ../partials/_pokemon-table.ejs %>
<div class="chart-box full-chart" id="region-chart"></div>

<script>
	$(document).ready(function(){
		<% include ../partials/highcharts/_wondertrades-byDate-chart.ejs %>
		<% include ../partials/highcharts/_pokemon-chart.ejs %>	    
	    <% include ../partials/highcharts/_region-chart.ejs %>
	});
</script>